<div class="jumbotron">
    <form method="post" action="/home/upload" enctype="multipart/form-data">
        <div>
            <input type="file" name="myImage" />
        </div>
        <div class="mt-3">
            <input type="text" name="password" placeholder="password" />
        </div>
        <div class="mt-3">
            <button class="btn btn-outline-primary">Upload</button>
        </div>
    </form>
</div>